/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Footer Top */
.footer-top {
    background-color: transparent;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.join-community {
    max-width: 600px;
    text-align: center;
    padding: 40px;
    background-color: #1d7045;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.join-community h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.join-community p {
    font-size: 16px;
    margin-bottom: 20px;
}

.join-community form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.join-community input[type="email"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

.join-community button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Footer Bottom */
.footer-bottom {
    background-color: #0d0f11;
    padding: 60px 20px 40px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.logo {
    width: 45%;
    text-align: left;
}

.logo h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.logo p {
    font-size: 14px;
    line-height: 1.5;
}

.contact-info {
    width: 45%;
    text-align: right;
}

.contact-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 14px;
}

.payment-icons img {
    width: 40px;
    margin-left: 10px;
}

.footer-bottom-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-bottom-links a {
    color: white;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: none;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    font-size: 14px;
}
